#pycache
__pycache__

#macos files
.DS_store

#links ouput file
src/src/links.json

src/test.html
src/temp.txt

#node modules
src/node_modules

src/package.json
package-lock.json


#temp-downloads contents
src/web/temp-downloads/*
!src/web/temp-downloads/cacheList.json
!src/web/temp-downloads/emptyCache.py
!src/web/temp-downloads/cache



#copyrighted fonts
src/web/fonts/*
!src/web/fonts/fonts.css
!src/web/fonts/fonts.txt
